@model IEnumerable<Product>

<div class="row row-cols-1 row-cols-md-5 g-4 mt-1">
    @foreach (var product in Model)
    {
        <div class="col p-1">
       @* <div class="col-lg-3 col-md-6">
            <div class="row p-2">
                <div class="col-12 p-1" style="border: solid 1px #008cba; border-radius: 5px;">      *@             
                    <div class="card h-100" style="border: solid 1px #008cba; border-radius: 5px;" >
                        <img src="@product.ImageUrl" class="card-img-top rounded"    />
                        <div class="card-body">
                            <div class="p-1">
                                <p class="card-title h5 text-primary">@product.Title</p>
                                <p class="card-title text-info">by <b>@product.Manufacturer</b></p>
                            </div>
                            <div class="p-1">
                                <p>價格: <strike><b>NT$@product.ListPrice.ToString("0.##")</b></strike></p>
                            </div>
                            <div class="p-1">
                                <p>最低折扣價: <b>NT$@product.Price100.ToString("0.##")</b></p>
                            </div>                       
                        </div>
                        <div class="card-footer bg-white">
                                <a asp-action="Details" asp-route-productId="@product.Id" class="btn btn-primary form-control">
                                    詳細資料
                                </a>
                        </div>
                    </div>
              @*  </div>
            </div>
        </div>*@
        </div>
    }
</div>