
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h1 class="text-primary">產品清單</h1>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-primary" asp-controller="Product" asp-action="Upsert">
                <i class="bi bi-plus-circle"></i> &nbsp; 新增產品
            </a>
        </div>
    </div>
    <br />
    <table class="table table-bordered table-striped" id="tblData" style="width: 100%">
        <thead>
            <tr>
                <th>產品名稱</th>
                <th>產品編號</th>
                <th>價格</th>
                <th>製造商</th>               
                <th>分類</th>               
                <th></th>
            </tr>
        </thead>        
    </table>
</div>

@section Scripts {
    <script src=~/js/product.js></script>
}
