@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">已成功下訂單!</h1>
        您的訂單編號是 : @Model <br /><br />
        <img src="~/images/lawn_leaf.jpg" width="65%" />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        我們會盡快將商品送出! <br />

    </div>
</div> 